/* shared styles */

body{
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color:#FFF8F3;
}
/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10% 1% 15%;
}
.navTitle{
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 2.5rem;
   
}
.colorPrimary{
    color: #FD6E0A;
}
nav>ul{
    font-family: sans-serif;
    display: flex;
    align-items: center;

}
nav li>a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #474747;
    
}
nav li{
    list-style: none;
    margin-right: 4rem;
   
}
.buttonPrimary{
    width: 7rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 0.2rem;
    background-color: #FD6E0A;
    border: 0;
    color: var(--White-Color, #FFF);
    font-size: 1.2rem;
    font-weight: 500;  
}
.buttonDownloadCV{
    width: 9rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 0.2rem;
    background-color: #FD6E0A;
    border: 0;
    color: var(--White-Color, #FFF);
    font-size: 1.2rem;
    font-weight: 500; 
}
.buttonContact{
    width: 7rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 0.2rem;
    background-color:#FFF8F3;
    border: 1px solid #FD6E0A;
    color: var(--White-Color, #FD6E0A);
    font-size: 1.2rem;
    font-weight: 500;
}

/* banner styles */

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.bannerGreeting{
    font-size: 2rem;
    font-weight: 200;
}
.bannerImage{
    width: 500px;
}
.bannerTitle{
    font-size: 3rem;
    font-weight: 600;
}
.banner img{
    width: 480px;
    height: inherit;
}
.bannerTextItems{
    
}