/* shared styles */

body{
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color:#FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position-x: 120%;
    border: 1px solid black;
    border-radius: 10px;
}
/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10% 1% 15%;
}
.navTitle{
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 2.7rem;
   
}
.colorPrimary{
    color: #FD6E0A;
}
nav>ul{
    font-family: sans-serif;
    display: flex;
    align-items: center;

}
nav li>a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #474747;
    
}
nav li{
    list-style: none;
    margin-right: 4rem;
   
}
.buttonPrimary{
    width: 7rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 0.2rem;
    background-color: #FD6E0A;
    border: 0;
    color: var(--White-Color, #FFF);
    font-size: 1.2rem;
    font-weight: 500;  
}
.buttonDownloadCV{
    width: 9rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 0.2rem;
    background-color: #FD6E0A;
    border: 0;
    color: var(--White-Color, #FFF);
    font-size: 1.2rem;
    font-weight: 500; 
}
.buttonContact{
    width: 7rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 0.2rem;
    background-color:#FFF8F3;
    border: 1px solid #FD6E0A;
    color: var(--White-Color, #FD6E0A);
    font-size: 1.2rem;
    font-weight: 500;
}

/* banner styles */

.banner{
    padding: 10px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bannerGreeting{
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 0px;
}

.bannerTitle{
    font-size: 3rem;
    font-weight: 600;
    margin-top: 1rem;
}
.bannerText{
    margin-top: 0px;
    color: #757575;
}
.banner img{
    width: 480px;
    height: inherit;
}
.bannerTextItems{
    width: 32rem;
    margin-left: 2rem;
}




main{
   max-width: 1140px;
   margin: 0 auto;
}

.aboutSection{
    padding: 130px;
    border-radius: 10px;
    background-color: #f6d2ab;
    margin: 130px 0;
}
.sectionTitle{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.aboutPointsContainer{
    display: flex;
    justify-content: space-around;
}
.aboutPoints{
    text-align: center;
}
.pointName{
    margin: 2rem 0px 0px 0px;
}
.pointDetails{
    margin:0px 0px;
}

